.about-main {
    display: flex;
    justify-content: center;
    margin: 40px 0 10%;
}

.picture {
    max-width: 400px;
    max-height: 450px;
    width: 50%;
    border: 4px solid var(--body-nav-background);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 15px;
    animation: pop1 10s ease-in-out infinite;
}

@keyframes pop1 {
    25% {
        rotate: -4deg;
    }

    75% {
        rotate: 4deg;
    }
}

.info {
    margin: 0 5%;
    width: 50%;
}

.info1 {
    display: flex;
    gap: 20px;
}

.personal-info {
    width: 50%;
}

.about-info {
    font-family: "Mitr", sans-serif;
    overflow-y: scroll;
    max-height: 200px;
}


@media screen and (max-width: 770px) {
    .about-main {
        display: block;
        justify-content: center;
        margin: 40px 0 10%;
    }

    .picture {
        text-align: center;
        margin: 0 25%;
    }

    .info {
        margin: 0 5%;
        width: 90%;
    }

    .info1 {
        display: flex;
        gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    .picture {
        text-align: center;
        margin: 0;
        width: 100%;
    }
}